h1{
    text-align: center;
    color: darkslategray;
    font-family: 微软雅黑;
    margin: 0px;
}
p{
    line-height: 28px;
}
.larger{
    font-size: larger;
    font-weight: bold;
}
.small{
    font-size: medium;
}
.grey{
    font-weight: bold;
    background-color: #cccccc;
    color: #000000;
}
.yanchang{
    width: 695px;    
}
.tdu{
    text-decoration: underline;
}
hr{
    text-align: "center";
    color: black;
    width: 90%;
}
.img_wrap {
    display: flex;
}
.img {
    width: 200px;
    height: 300px;
    border:1px solid red;
    background: url(pin.jpg) no-repeat;
    margin-right: 20px;
}
.img-1 {
    width: 200px;
    height: 300px;
    border:1px solid red;
}
.img_wrap2{
    width: 1000px;
    height: 700px;
}
.img2{
    width: 500px;
    height: 550px;
}
.div1 {
    background-size: cover;
    background-origin: padding-box; 

}
.div2{
    background-size: contain;

}
.div3 {
    background-size: cover;
    background-position: center;

}
.div4{
    background-size: contain;
    background-position: center;

}
.div5{
    background-image: linear-gradient(to right, yellow, green);
}
.div6{
    background-image: linear-gradient(30deg,white, black);
}
.div7{
    background-image: linear-gradient(45deg,
    yellow 0%,
    yellow 25%,
    blue 25%,
    blue 50%,
    red 50%,
    red 75%,
    green 75%,
    green 100%
    );
}
.div8{
    background-image: radial-gradient(100px at center,yellow ,green);
}
.div9-1{
    width: 200px;
    height: 200px;
    margin: 40px auto;
    border-radius: 100px;
    background-color: rgb(20, 153, 187);
    background-image: radial-gradient(
            200px at 100px 100px,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.5));
}
.div9-2{
    width: 200px;
    height: 200px;
    margin: 40px auto;
    border-radius: 100px;
    background-color: rgb(99, 98, 98);
    background-image: radial-gradient(
            200px at 100px 100px,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.7));
}
.div9-3{
    width: 200px;
    height: 200px;
    margin: 40px auto;
    border-radius: 100px;
    background-color: rgb(194, 41, 130);
    background-image: radial-gradient(
            200px at 100px 100px,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.7));
}
.div9-4{
    width: 200px;
    height: 200px;
    margin: 40px auto;
    border-radius: 100px;
    background-color: rgb(240, 153, 53);
    background-image: radial-gradient(
            200px at 100px 100px,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.7));
}
#div10 {	
width: 700px;
height: 700px;
border: 1px solid red;
background: url(pin2.jpg) no-repeat;
background-size: cover;
background-position: center;
/* 裁剪出圆形区域 */
clip-path: circle(180px at 350px 350px);
transition: clip-path 0.5s;
}
#div10:hover{
/* 鼠标悬停时，裁剪出更大的圆形 */
clip-path: circle(270px at 350px 350px);
}

.box{
    height: 650px;
    border: 1px solid #000;
    margin: 10px auto;
    /* 给盒子加多个背景，按照背景语法格式书写，多个背景使用逗号隔开 */
    background: url(pin3.jpg) no-repeat left top,
    url(pin3.jpg) no-repeat right top,
    url(pin3.jpg) no-repeat right bottom,
    url(pin3.jpg) no-repeat left bottom,
    url(pin3.jpg) no-repeat center;
    background-color: black;
}
/*body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0;
}*/